<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Learn vue js</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            htnl, body {
                height: 100vh;
            }

            body {
                display: grid;
                place-items: center;
            }

            .text-green {
                color:green;
            }
            .text-red {
                background: red;
                padding: 20px;
            }
        </style>
    </head>

    <body>
        
        <div id="app">
            <section v-show="inprogressAssignment.length">
                <h2>In progress Task</h2>
                <ul class="list-group">
                    <li class="list-group-item" v-for="assignment in inprogressAssignment" :key="assignment.id"> 
                        <label>
                            {{ assignment.name}} 
                            <input type="checkbox" v-model="assignment.completed">
                        </label>
                    </li>
                </ul>
            </section>

            <section v-show="completedAssignment.length">
                <h2 class="mt-4">Completed Task</h2>
                <ul class="list-group">
                    <li class="list-group-item" v-for="assignment in completedAssignment" :key="assignment.id"> 
                        <label>
                            {{ assignment.name}} 
                            <input type="checkbox" v-model="assignment.completed">
                        </label>
                    </li>
                </ul>
            </section>
            
        </div>

        <script>

            const app = {
                data() {
                    return {
                        assignments: [
                            { name:"First", completed: false, id:1 },
                            { name:"Second", completed: false, id:2 },
                            { name:"Third", completed: false, id:3 },
                        ]
                    }                    
                },
                computed: {
                    inprogressAssignment() {
                        return this.assignments.filter(assignment => !assignment.completed);
                    },
                    completedAssignment() {
                        return this.assignments.filter(assignment => assignment.completed);
                    },
                },

                methods: {
                    
                }
            };
               
            Vue.createApp(app).mount('#app')
        </script>
    </body>
</html>